spring:
  application:
    name: code-combine

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GH_CLIENT_ID}
            client-secret: ${GH_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - repo

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    try-it-out-enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

github:
  base-url: https://api.github.com
  raw-accept-header: application/vnd.github.raw+json
  json-accept-header: application/vnd.github+json

frontend:
  url: ${FRONTEND_URL}
